html,
body {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    background: #fff;
    z-index: 0;
}

#h1_special {
    color: darkred;
}
#h1_special:hover {
    color: deeppink;
}

#canvas {
    position: absolute;
    background: gray;
    width: 100%;
    height: 100%;
    z-index: -1;
}